PORT=4000

# Base de datos MySQL
DB_HOST=localhost
DB_PORT=3306
DB_NAME=mercalocal
DB_USER=root
DB_PASSWORD=

# JWT
JWT_SECRET=cambia_este_valor_por_un_secreto_largo_y_aleatorio
JWT_EXPIRES_IN=8h

# Bcrypt
BCRYPT_SALT_ROUNDS=10
